{% extends 'instagram/base.html' %}


{% block content %}

{% for image in images %}

<div class="card card-default">
    <div class="card-header">
        <a href="{% url 'profile-detail' image.profile.user.username %}">  <img src="{{image.profile.profile_pic.url}}" class="rounded-circle prof-img img-responsive" id=""></a>
        <a class="mr-2" href="{% url 'profile-detail' image.profile.user.username %}">{{ image.profile.user.username }}</a>
      
    </div>

    <div class="card-body">
        <img src="{{image.image.url}}" class="img-posts img-responsive" id="">

        <div class="image-metadata">

            <div class="stat">

                <button type="button" class="{{ status}} stat" id="like"> <a href="{% url 'image-likes' image.id %}"><i
                            class="fa fa-heart-o  d-inline-flex icons" aria-hidden="true"><br>{{image.likes.count}}
                            likes</i> </a></button>
            </div>
            <div class="stat ">

                <button type="button" class="{{ status}} stat" id="like"> <a href="{% url 'comment-create' image.id %}">
                        <i class="fa fa-comment-o  d-inline-flex icons" aria-hidden="true"><br>
                            comment</i> </a></button>
            </div>
    




        </div>



    </div>

    <h2><a class="" href="{% url 'image-detail' image.id %}">{{ image.image_name }}</a></h2>
    <p class="">{{ image.image_caption }}</p>

</div>
<div class="comments">
        <h4>Comments</h4>
        {% for comment in image.image_comments.all %}

        <p class="text-muted">
            <strong>{{comment.user.username}}</strong>
            {{comment.content}}</p>

        {% endfor %}
    </div>

{% endfor %}

{% endblock %}