{% extends 'instagram/base.html' %}


{% block content %}



<div class="card card-default">
    <div class="card-header">
            <a href="{% url 'profile-detail' image.profile.user.username %}">  <img src="{{image.profile.profile_pic.url}}" class="rounded-circle prof-img img-responsive" id=""></a>
        <a class="mr-2" href="{% url 'user-images' image.profile.user.username %}">{{ image.profile.user.username }}</a>
        {% if image.profile == user.profile %}
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'image-update' image.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'image-delete' image.id %}">Delete</a>
        </div>

        {% endif %}
    </div>

    <div class="card-body">
        <img src="{{image.image.url}}" class="img-posts img-responsive" id="">
        <div class="image-metadata">

                <div class="stat d-inline-flex">
    
                    <button type="button" class="{{ status}} stat" id="like"> <a href="{% url 'image-likes' image.id %}"><i
                                class="fa fa-heart-o  d-inline-flex icons" aria-hidden="true"><br>{{image.likes.count}}
                                likes</i> </a></button>
                </div>
                <div class="stat d-inline-flex">
    
                    <button type="button" class="{{ status}} stat" id="like"> <a href="{% url 'comment-create' image.id %}">
                            <i class="fa fa-comment-o  d-inline-flex icons" aria-hidden="true"><br>
                                comment</i> </a></button>
                </div>
    
    
            </div>

        <h2><a class="" href="#">{{ image.image_name }}</a></h2>
        <p class="">{{ object.image_caption }}</p>
    </div>
</div>



{% endblock %}